params {
    panaroo_results = "/home/himek/n_gonorrhoeae_project/panaroo_output"
    blast_db        = "/home/himek/blastdb/nt_prok"
    core_threshold  = 0.99
    identity_thr    = 98.0
    min_pident      = 85.0
    min_qcovs       = 80.0
    negative_taxidlist = "/home/himek/n_gonorrhoeae_project/gonorrhoeae_all_taxids.txt"
}
