params {
    gffs           = "/home/himek/s_pyogenes_project/prokka_output/*/*.gff"
    blast_db       = "/home/himek/s_pyogenes_project/streptococcus_non_pyogenes_db"
    core_threshold = 0.99
    identity_thr   = 98.0
    min_pident     = 85.0
    min_qcovs      = 80.0
    negative_taxids = 1314
}
